section {
    background-color: #f1f3f5;
}

.perent-head {
    width: 100%;
    display: flex;
    height: 50px;

}

.child-head {
    display: flex;
}

.child-head1 {
    width: 100%;
    margin-right: 10px;
}

.navbar-child2 {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar-child2 li {
    display: flex;
    padding: 0 10px;
    width: max-content;
}

.header-li-child {
    margin: 0 5px;
}

.login-li {
    align-items: center;
}

.login-li:hover {
    color: white;
}


.header-li-custom:hover #login-down-arrow {
    transform: rotate(180deg);
    transition: transform .5s ease;
}

#login-down-arrow {
    margin: 0 5px;
    transform: rotate(0deg);
    transition: transform .5s ease-in-out;
}



.header-li-custom:hover #login-drop-down {
display: block;}

.header-li-custom {
    display: flex;
    align-items: center;
}

.header-li-custom:hover {
    height: 32px;
    background-color: #2a55e5;
    border-radius: 5px;
}

.dn {
    display: none;
}

.dn2 {
    display: none !important;
}



.header-search {
    align-self: center;
    border-radius: 8px;
    height: 85%;
    display: flex;
    align-items: center;
}

.header-search-input {
    margin: 0 15px;
    border: none;
    background-color: inherit;
    width: 100%;
}

.header-search-svg {
    margin: 0 10px;
}

.header-search-input:focus {
    outline: none;
}

.p1-item {
    min-width: 130px;
    min-height: 126px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.p1-item a:hover {
    color: #2a55e5;
}

.p1-item img {
    object-fit: cover;
}

.p1-placeholder a {
    text-decoration: none;
    color: black;
}

.p1-placeholder {
    width: 100%;
    justify-content: center;

}

.container-fluid {
    width: 85%;
}

.p1-item span {
    font-size: 16px;
    width: max-content;
    font-weight: 500;
}

#fashion-dropdown-menu {
    display: none;
    /* opacity: 0; */
    position: absolute;
    background-color: white;
    z-index: 2;
}
.dropdown:hover > .dropdown-menu{
   
    display: block;
    pointer-events: all;
}

#Fashion-down-arrow {
    transform: rotate(0deg);
    transition: transform 1s ease;
}

#Fashion-a:hover #Fashion-down-arrow {
    transform: rotate(180deg);
    transition: transform 1s ease;
}

.carousel-control-prev-icon {
    background-color: white;
    opacity: 1;
    height: 50%;
    color: black;
}
.list-group-item{
    height: 40px;
    align-items: center;
    width: 100% !important;
}

@media(max-width:1430px) {
    .p1-placeholder {
        width: 100%;
        justify-content: normal;
        overflow-x: scroll;
    }
}

@media(max-width:992px) {
    .container-fluid {
        width: 100%;
    }
}

@media (min-width: 10px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 820px) {
    .dn {
        display: block !important;
    }

    .dn2 {
        display: flex !important;
    }
}