section {
    background-color: #f1f3f5;
}

.perent-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.child-head {
    display: flex;
}

.child-head1 {
    width: 100%;
    margin-right: 10px;
}

.navbar-child2 {
    display: flex;
    /* margin: 0 15px; */
    /* flex-direction: column; */
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
    width: 100%;
}

.navbar-child2 li {
    display: flex;
    /* justify-content: center; */
    padding: 0 10px;
    width: max-content;
}

.header-li-child {
    margin: 0 5px;
    /* height: 50px; */
}

.login-li:hover {

    height: 32px;
    align-items: center;
    /* color: white; */
    filter: invert(100%) sepia(69%) saturate(0) hue-rotate(132deg) brightness(114%) contrast(101%);
}

.header-li-custom {
    display: flex;
    align-items: center;
}

.header-li-custom:hover {
    height: 32px;
    background-color: #2a55e5;
    border-radius: 5px;
}

.dn {
    display: none;
}

.dn2{
    display: none !important;
}

@media (min-width: 10px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 820px) {
    .dn {
        display: block !important;
    }

    .dn2 {
        display: flex !important;

    }
    
}

.header-search {
    display: flex;
    align-items: center;
}

.header-search-input {
    margin: 0 15px;
    border: none;
    background-color: inherit;
    width: 100%;
}

.header-search-svg {
    margin: 0 10px;
}

.header-search-input:focus{
    outline: none;
}