* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

.navbar {
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #f1f3f5;
}

section {
    margin: 10px 0;
}

.perent-head {
    width: 100%;
    display: flex;
    height: 50px;

}

.child-head {
    display: flex;
}

.child-head1 {
    width: 100%;
    margin-right: 10px;
}

.navbar-child2 {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar-child2 li {
    display: flex;
    padding: 0 10px;
    width: max-content;
}

.header-li-child {
    margin: 0 5px;
}

.p1-item a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-li {
    align-items: center;
}

.login-li:hover {
    color: white;
}


.header-li-custom:hover #login-down-arrow {
    transform: rotate(180deg);
    transition: transform .5s ease;
}

#login-down-arrow {
    margin: 0 5px;
    transform: rotate(0deg);
    transition: transform .5s ease-in-out;
}



.header-li-custom:hover #login-drop-down {
    display: block;
}

.header-li-custom {
    display: flex;
    align-items: center;
}

.header-li-custom:hover {
    height: 32px;
    background-color: #2a55e5;
    border-radius: 5px;
}

.dn {
    display: block;
}

.dn2 {
    display: flex !important;
}

.header-image {
    width: 100%;
    margin: auto;
    display: block;
    object-fit: contain;
    opacity: 1;
    aspect-ratio: 1 / 1;
}

.header-search {
    background-color: #f0f5ff;
    align-self: center;
    border-radius: 8px;
    height: 85%;
    display: flex;
    align-items: center;
}

.header-search-input {
    margin: 0 15px;
    border: none;
    background-color: inherit;
    width: 100%;
}

.header-search-svg {
    margin: 0 10px;
}

.header-search-input:focus {
    outline: none;
}

.p1-item {
    min-width: 130px;
    min-height: 126px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.p1-item a:hover {
    color: #2a55e5;
}

.p1-item img {
    object-fit: cover;
}


.p1-placeholder {
    width: 100%;
    justify-content: center;

}

.container-fluid {
    width: 85%;
}

.p1-item span {
    font-size: 16px;
    width: max-content;
    font-weight: 500;
}

#fashion-dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 2;
}

.dropdown:hover>.dropdown-menu {

    display: block;
    pointer-events: all;
}

#Fashion-down-arrow {
    transform: rotate(0deg);
    transition: transform 1s ease;
}

#Fashion-a:hover #Fashion-down-arrow {
    transform: rotate(180deg);
    transition: transform 1s ease;
}

.carousel-control-prev-icon {
    background-color: white;
    opacity: 1;
    height: 50%;
    color: black;
}

.list-group-item {
    height: 40px;
    align-items: center;
    width: 100% !important;
}

.p3-perent {
    width: 80%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
}

.p3-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.p3-placeholder {
    display: flex;
    justify-content: normal;
    overflow-x: scroll;
    width: 100%;
    gap: 10px;
}

.advertise {
    margin: 0 10px;
    width: 20%;
}

.advertise>img {
    width: 100%;
    max-height: 380px;

}

#body-part-3>.container-fluid {
    display: flex;
    justify-content: space-between;
}

.item-p3 img {
    height: 142px;
    width: 142px;
}

.item-p3 img:hover {
    scale: 1.05;
}

.card {
    width: max-content;
    padding: 10px;
}

.p3-item-dis {
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p4-perent {
    background-color: white;
    padding: 20px;
}

.footer-pp {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
}

.footer-perent {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    justify-content: space-evenly;
}

.footer-child {
    min-width: 170px;
    height: 180px;
    background-color: black;
}

.footer-title {
    color: #878787;
}

.footer-body {
    display: flex;
    flex-direction: column;
}

.footer-brand {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

footer {
    background-color: black;
}

footer a,
footer {
    color: white;
    font-weight: bolder;
}

.fb-item,
.fb-item span {
    font-size: small;
    font-weight: lighter;
    width: max-content;
    display: flex;
    align-items: center;
    color: white;
}

.fb-item i {
    margin: 10px;
    color: goldenrod;
}

@media(max-width:1430px) {
    .p1-placeholder {
        width: 100%;
        justify-content: normal;
        overflow-x: scroll;
    }
}

@media(max-width:992px) {
    .container-fluid {
        width: 100%;
    }

    .advertise {
        display: none;
    }

    .p3-perent {
        width: 100%;
    }

}


@media (max-width: 820px) {


    .dn2 {
        display: none !important;
    }
}

@media (max-width: 620px) {


    .dn {
        display: none !important;
    }
}